body {
    background-color: #fff;
    /*color: #333; */
    color: var(--primary-color);
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  :root {
    --primary-color: black;
    --secoundary-color:  yellow; /* En la revisión final si no afecta elimiar */

  }

  img {
      max-width: 100%;
      display: block;
      margin-right: 10px;
      margin: 1px;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
   padding-left: 200px;
  }
  
  .grid1 {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
  .grid {
     /*margin: 0 auto;
    padding: 0 20px; */
    margin: 0 200px;
    
    display: grid;
    grid-template-columns: 3fr 1fr; /* 3 columnas con tamaño fraccionado */
    grid-template-rows: repeat(auto, auto); /* 4 filas con tamaño automático */
  }

  article {
    margin-right: 15px;
    
  }
  

  .aside {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding-left: 10px;
  }

  nav {
    background-color: #000;
    padding: .5em;
    position:sticky;
    top:0;
   
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
   
  }
 


  .photos {
  
    list-style: none;
    margin-top: 25px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Crea 2 columnas de igual tamaño */
    grid-template-rows: auto;
    gap: 2px;
  }
 
  .photos li img {
      width: auto; /* Asegura que las imágenes ocupen todo el espacio disponible dentro de su contenedor */
      height: auto; /* Mantiene la proporción de la imagen */
      
  }
  

  .feature {
      width: 200px;
      float: left;
      padding-right: 10px;
      padding-bottom: 10px;
  }

  h2 {
    padding-bottom: 0;
    margin-bottom: 0;
   
  }

  .sinFormato {
    color: red;
   
  }

 